<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhKxhdyjgIFlt-LXP8E4rrKEkwH_8didE</string>
	<key>GCM_SENDER_ID</key>
	<string>435296988529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistFirebase</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-cc13a</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-cc13a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435296988529:ios:35bdb9ef1aa36c03251ad0</string>
</dict>
</plist>